[Unit]
Description=Dynamically update DNS host records.
After=network.target

[Service]
User={{ usr_name }}
Group={{ usr_name }}
ExecStart={{ ddns_app_dir }}/.venv/bin/python {{ ddns_app_dir }}/ddns/main.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
