[Unit]
Description=Dynamically update DNS host records.
After=network.target

[Service]
User={{ usr_name }}
Group={{ usr_name }}
ExecStart={{ app_dir }}/.venv/bin/python {{ app_dir }}/main.py
WorkingDirectory={{ app_dir }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
